include ../includes/mixins.pug

//- Nav Panel params
- var navItems = [];
//- Covering Basics
- navItems.push({title: 'Basics', links: [ ["Home", "index.html"], ["Getting Started", "basics/gettingStarted.html"], ["Basic 2D Commands", "basics/basics2D.html"], ["Using Text", "basics/text.html"], ["Logic and Sequences", "basics/logicAndSequences.html"], ["Scripting", "basics/scripting.html"], ["3D Basics", "basics/basics3D.html"] ]});

//- Examples
-navItems.push({ title: 'Examples', links: [ ['Basic Examples', 'examples/basics.html'] ] });

//- Apps
- navItems.push({ title: 'Apps', links: [ ["Pretty Grapher", "apps/prettyGraph.html"] ] })


doctype html
html
  head
    block vars
    title= htmlTitle ? htmlTitle : "GGB Tuts"
    meta(name="viewport", content="width=device-width,initial-scale=1.0")
    link(rel="icon", type="image/x-icon", href=relDepth + "img/theming/favicon.png")
    //- Styles
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Zilla+Slab")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href=relDepth + "css/main.css") 

    //- Scripts
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src=relDepth + "js/main-dist.js")
    block scripts

  body
    #header
      span#menuButton
        i.fa.fa-bars
      a#icon(href=relDepth+"index.html")
        img(src=relDepth+"img/ggb.png")
      span#author
        | Grant Sander

    #sideMenu
      each item in navItems
        p.menu-label= item.title
        ul.menu-list
          each link in item.links
            li
              a(href=relDepth + link[1], class=sideMenuTitle==link[0] ? "is-active" : "")= link[0]

    #content
      include ../includes/pageBanner.pug
      #contentContainer
        block content
    
    include ../includes/videomodal.pug